.LoginModel {
	position: fixed;
	z-index: 1061;
	height: 90vh;
	background-color: white;
	width: 70%;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px black;
	left: 15%;
	background: #f7f5f5;
	border-radius: 10px;
	top: 5vh;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	font-size: 16px;
	@media (max-width: 650px) {
		width: 100% !important;
		height: auto !important;
		left: 0% !important;
		top: 5% !important;
	}
	.login_from {
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 2.56rem;
		padding-bottom: 3.2rem;
		height: 90vh;
		transition: all .2s;
		border-radius: 10px;
		@media (max-width: 650px) {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
	.signup_input-container {
		width: 100%;
		height: 5rem;
		input {
			margin-top: 0;
			width: 90%;
			margin-left: 5%;
			outline: none;
			color: #7d97ad;
			vertical-align: top;
			height: 4rem;
			border: none;
			border-bottom: 1px solid #ccc;
			padding: 0 1.25rem;
			box-sizing: border-box;
			font-size: 1.39rem;
			border-radius: 0.25rem;
		}
		select {
			height: 50px;
			font-size: 14px;
		}
	}
	.forget_input {
		height: 8rem !important;
		@media screen and (max-width: '650px') {
			height: 10rem !important;
		}
	}
	.input-container {
		height: 5rem;
		.button-social,
		.fb_button {
			-webkit-font-smoothing: antialiased;
			box-sizing: border-box;
			font-family: Open Sans, sans-serif;
			display: inline-block;
			font-size: 11px;
			letter-spacing: 1px;
			font-weight: 500;
			text-transform: uppercase;
			border-radius: 5px;
			cursor: pointer;
			text-align: center;
			background: #3b579d;
			color: white !important;
			height: 44px;
			border: 1px solid #dbe2e8 !important;
			color: #757c81;
			margin-bottom: 1.375rem;
			width: 90%;
			margin-left: 5%;
			transition: all .3s;
			&.google {
				background: #d64741 !important;
			}
			.fab.fa-facebook {
				font-size: 18px;
				position: relative;
				top: 2px;
				padding-right: .2rem;
			}
			.button-label {
				img {
					margin-right: 1rem;
				}
			}
			.fab.fa-google-plus-g {
				font-size: 18px;
				position: relative;
				top: 2px;
			}

			@media (max-width: 650px) {
				font-size: 1rem;
			}
			&:hover {
				transform: translateY(-3px);
				box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
			}
			&:active {
				transform: translateY(-1px);
				box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
			}
		}
		input {
			margin-top: 0;
			margin-bottom: 0.75rem;
			width: 90%;
			margin-left: 5%;
			outline: none;
			color: #7d97ad;
			vertical-align: top;
			height: 4rem;
			border: none;
			padding: 0 1.25rem;
			border-bottom: 1px solid #ccc;
			box-sizing: border-box;
			font-size: 1.39rem;
			border-radius: 0.25rem;
			transition: box-shadow 0.3s ease, border 0.3s ease;
		}
	}
	.input-container.sign_up_container {
		height: 3rem !important;
		position: relative;
	}
	.signup_input-container {
		position: relative;
	}
	.input-container {
		position: relative;
	}
	.forget {
		text-align: right;
		width: 90%;
	}
	#agree {
		text-align: center;
		margin: 0 auto;
	}
	#login_Id {
		background: #1989cd;
		color: #fff;
		width: 90%;
		margin-left: 5%;
		border-radius: 5px;
		font-size: 1.6rem;
		height: 44px;
		letter-spacing: 1px;
		transition: all .3s;
		&:hover {
			transform: translateY(-3px);
			box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
		}
		&:active {
			transform: translateY(-1px);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
		}
	}
	.close_button {
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		display: inline-block;
		margin-left: 8px;
		@media (max-width: 650px) {
			top: -2.6rem;
		}
		button {
			outline: none;
			border: none;
			background: transparent;
		}
	}
	.disclaimer {
		font-size: 1.28rem;
		font-weight: 500;
	}
	.opensignupmodalPopup {
		text-decoration: underline !important;
		color: #1989cd !important;
		cursor: pointer;
	}
	.blue {
		color: #1989cd;
	}
	.terms-wrap {
		margin-left: 6%;
		width: 90%;
		margin-top: 0rem;
		margin-bottom: 1rem;
	}
	.login_and_sign_up {
		background: #fff;
		height: 90vh;
		-webkit-box-shadow: -1px 3px 2px 2px rgba(0, 0, 0, 0.10);
		-moz-box-shadow: -1px 3px 2px 2px rgba(0, 0, 0, 0.10);
		box-shadow: -1px 3px 2px 2px rgba(0, 0, 0, 0.10);
		padding: 0rem;
		padding-top: 0rem;
		padding-bottom: 0rem;
		border-radius: 5px;
		border-radius: 10px;
	}
	.line_modal {
		margin-top: 50px;
		margin-left: 50%;
		height: 90%;
		width: 2px;
		background: #cccc;
	}
	.or_line {
		width: 100%;
		padding-left: 10%;
		margin-top: 0.96rem;
		margin-bottom: 0.96rem;
		padding-right: 10%;
		.line_row {
			width: 47%;
		}
		.or {
			widows: 4%;
		}
		.line {
			height: 1px;
			width: 100%;
			opacity: 0.5;
			margin-top: 10px;
			background: #ccc;
		}
	}
	.alert {
		padding: 0.3rem;
		padding-left: 1.28rem;
		width: 91%;
		text-align: center;
		margin-left: 5%;
		strong {
			font-weight: 500;
			font-size: 1rem;
		}
	}
	.line_heading {
		width: 20%;
		margin-left: 40%;
		margin-top: .8rem;
		margin-right: 5%;
		border-top: 1px solid rgba(0, 0, 0, .1);
		@media (max-width: 650px) {
			display: none;
		}
	}
	.small_mobile_headings {
		display: none;
		@media (max-width: 650px) {
			margin-top: 0rem;
			margin-bottom: 1rem;
			display: block;
		}
	}
	.login_small {
		display: inline-block;
		width: 50%;
		font-size: 1.8rem;
		text-align: center;
		border-top-left-radius: 10px;
		font-weight: 600;
		background: rgba(242, 242, 242, 0.1);
		padding: 1rem;
	}
	.signup_small {
		font-size: 1.8rem;
		font-weight: 600;
		display: inline-block;
		border-top-right-radius: 10px;
		padding: 1rem;
		width: 50%;
		background: rgba(242, 242, 242, 0.1);
		text-align: center;
	}
	#signup_Id {
		background: #1989cd;
		width: 90%;
		margin-left: 5%;
		height: 44px;
		font-size: 1.6rem;
		border-radius: 5px;
		margin-top: 1rem;
		@media (max-width: 650px) {
			font-size: 1rem;
		}
		&:hover {
			transform: translateY(-3px);
			box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
		}
		&:active {
			transform: translateY(-1px);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
		}
	}
	.heading {
		text-align: center;
		font-size: 2.08rem;
		font-weight: 600;
		@media (max-width: 650px) {
			display: none;
		}
	}
	.create_account_heading {
		text-align: center;
		letter-spacing: 0.1rem;
	}
	.signup_from {
		padding-left: 15%;
		padding-top: 2.56rem;
		padding-bottom: 3.2rem;
		height: 90vh;
		padding-right: 15%;
		border-radius: 10px;
		@media (max-width: 650px) {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
	input {
		&:focus {
			border: 1px solid #1989cd !important;
		}
		&:focus + label {
			top: -8px;
			opacity: 1;
			color: #1989cd;
			background: #fff;
			z-index: 1;
		}
		& + label {
			position: absolute;
			z-index: -1;
			font-size: 12px;
			padding-left: 5px;
			padding-right: 5px;
			top: 10px;
			left: 10%;
			opacity: 0.7;
			transition: all 300ms ease-in;
		}
	}
}
#preloader {
	position: absolute;
	top: 50%;
	z-index: 1062;
	left: 50%;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 20%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #146b71;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #03bed0;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}
#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #1989cd;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
input.touched {
	border: 1px solid #1989cd !important;
	& + label {
		top: -8px;
		opacity: 1;
		color: #1989cd;
		background: #fff;
		z-index: 1;
	}
}
.forgetPass {
	background: #FFFF;
	padding: 6% 10%;
	height: 100%;
	border-radius: 10px;
	position: relative;
	h4 {
		text-align: center;
		margin-bottom: 3rem;
		font-size: 2.4rem;
		font-weight: 600;
	}
	p {
		width: 90%;
		margin-left: 5%;
	}
	.forget_input {
		margin-top: 1.6rem;
		height: 6rem !important;
	}
	#back {
		font-size: 1.3rem;
		background: transparent;
		color: #1989cd;
		border: none;
		width: auto;
	}
	#send_request {
		font-size: 1.6rem;
		&:hover {
			transform: translateY(-3px);
			box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
		}
		&:active {
			transform: translateY(-1px);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
		}
	}
	.forget_verification {
		height: 6.4rem;
	}
	#forget_email {
		width: 90%;
		margin-left: 5%;
	}
	input {
		&:focus {
			border: 1px solid #1989cd !important;
		}
		&:focus + label {
			top: -8px;
			opacity: 1;
			color: #1989cd;
			background: #fff;
			z-index: 1;
		}
		& + label {
			position: absolute;
			z-index: -1;
			font-size: 12px;
			padding-left: 5px;
			padding-right: 5px;
			top: 10px;
			left: 7%;
			opacity: 0.7;
			transition: all 300ms ease-in;
		}
	}
	.password_changed {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
	.btn_row {
		margin-top: 3rem;
	}
}
.Captcha {
	margin-left: 5%;
}
