.CourseContent {
	opacity: 0.88;
	background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;
	background: rgb(39, 53, 68);
	.container {
		padding-top: 4%;
		margin-right: 7rem;
		margin-left: 7rem;
		min-height: 70vh;
		height: auto;
		@media screen and (max-width: '650px') {
			height: auto;

			// padding-top: 2rem;
			// padding-bottom: 2rem;
			margin-left: 0rem;
			// width: 100%;
			// margin-right: 0rem;
		}
		@media screen and (min-width: '651px') and (max-width: '1199px') {
			height: auto;
		}
		.row {
			.content {
				width: 45rem;
				color: white;
				@media screen and (max-width: '650px') {
					width: 35rem;
					padding-left: 2rem;
				}
				.course_name {
					padding-left: .1rem;
					font-weight: 900;
					font-size: 2.7rem;
					span {
						font-weight: 50;
					}
				}
				.slider_playlist {
					display: none;
					border-top-left-radius: .4rem;
					border-bottom-left-radius: .4rem;
					box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
					background: white;
					margin-top: 2rem;
					@media screen and (max-width: '650px') {
						display: block;
					}
					.price {
						padding: 10px;
						padding-left: 20px;
						.intro_offer_price {
							color: #1989cc;
							font-size: 1.7rem;
						}
						.intro_max_price {
							opacity: 0.8;
							color: rgba(0, 0, 0, 0.5);
							padding-right: .5rem;
							font-size: 1.4rem;
						}
						.intro_max_price_1 {
							opacity: 1;
							font-weight: 700;
							color: #008a00;
							padding-right: 1rem;
							font-size: 1.4rem;
						}
					}
					.intro_offer_expire {
						font-size: 1.7rem;
						padding: 10px;
						padding-left: 20px;
						color: #1989cc;
						font-weight: bold;
					}
				}
				.course_intro_list {
					padding-top: 2.1rem;
					li {
						width: 43rem;
						font-size: 1.8rem;
						text-align: left;
						padding-left: 3rem;
						font-weight: 50;
						padding-bottom: 1.5rem;
						@media screen and (max-width: '650px') {
							width: 30rem;
							padding-left: 5rem;
						}
						&:before {
							content: '';
							background: white;
							position: absolute;
							left: 6.7rem;
							margin-top: 1.1rem;
							background-repeat: no-repeat;
							width: 1.5rem;
							height: .5rem;
							@media screen and (max-width: '650px') {
								left: 4rem;
							}
						}
						b {
							font-weight: 600;
						}
					}
					li.end {
						padding-bottom: 1rem;
					}
				}
				.course_price_and_offer {
					display: none;
					.intro_max_price {
						opacity: 0.8;
						padding-right: 1rem;
						font-size: 1.4rem;
					}
					.intro_offer_price {
						font-size: 2rem;
					}
					.intro_offer_expire {
						font-size: 2rem;
						font-weight: bold;
					}
					@media screen and (max-width: '650px') {
						display: block;
					}
				}
				.enroll_and_other_buttons {
					margin-top: 2rem;
					margin-bottom: 6rem;
					.enroll_now {
						background: #1989cc;
						display: none !important;
						border-radius: .3rem;
						font-size: 1.8rem;
						font-weight: 600;
						padding: 1.4rem 3rem;
						margin-right: 1.5rem;
						@media screen and (max-width: '650px') {
							margin-right: 0.9rem;
							font-size: 1.5rem;
							display: inline-block !important;
						}
					}
					.demo_button {
						background: transparent;
						border: .125rem solid #fff;
						border-radius: .3rem;
						font-size: 1.8rem;
						font-weight: 600;
						padding: 1.05rem 2.1rem;
						@media screen and (max-width: '650px') {
							margin-right: 0.1rem;
							font-size: 1.4rem;
							padding: 1.2rem 1.6rem;
						}
					}
				}
			}
			.right_wrapper {
				margin: 0rem auto 2rem auto;
				position: relative;
				width: 55rem;
				@media screen and (max-width: '650px') {
					width: 90vw;
				}
				.upper_form {
					height: 5rem;
					border-radius: .4rem;
					margin-bottom: 2rem;
					@media screen and (max-width: '650px') {
						display: none;
					}
					.slider_playlist {
						border-top-left-radius: .4rem;
						border-bottom-left-radius: .4rem;
						box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
						background: white;
						.price {
							padding: 10px;
							padding-left: 20px;
							.intro_offer_price {
								color: #1989cc;
								font-size: 2rem;
							}
							.intro_max_price {
								opacity: 0.8;
								color: rgba(0, 0, 0, 0.5);
								padding-right: .5rem;
								font-size: 1.6rem;
							}
							.intro_max_price_1 {
								opacity: 1;
								font-weight: 700;
								color: #008a00;
								padding-right: 1rem;
								font-size: 1.6rem;
							}
						}
						.intro_offer_expire {
							font-size: 2rem;
							padding: 10px;
							padding-left: 20px;
							color: #1989cc;
							font-weight: bold;
						}
					}
					.enroll_tab {
						.enroll_now {
							background: #1989cc;
							border-top-right-radius: .3rem;
							border-bottom-right-radius: .4rem;
							color: white;
							font-size: 1.94rem;
							text-align: center;
							font-weight: 600;
							padding: 1.1rem 2.15rem;
							box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
						}
					}
				}
				.lower_form {
					background: white;
					padding: 1rem;
					border-radius: .4rem;
					box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
					.heading {
						margin: 2rem auto 3rem 1.1rem;
						text-align: center;
						@media screen and (max-width: '650px') {
							color: #000;
							font-weight: 800;
						}
						span {
							font-size: 1.9rem;
							font-weight: 600;
						}
						img {
							margin-right: .5rem;
							width: 2.6rem;
							margin-top: -.36rem;
						}
					}
					.alert {
						font-size: 1rem;
						margin-bottom: 2rem;
					}
					.request_form {
						.input-group {
							min-height: 7.5rem;
							background: transparent;
							input {
								font-size: 1.2rem;
								outline: none;
								border: none;
								border-bottom: 1px solid #1989cd;
								height: 4rem;
								border-radius: .5rem;
								text-align: center !important;
								box-shadow: none;
								&:focus {
									border: 1px solid #1989cd !important;
								}
								&:focus + label {
									top: -8px;
									opacity: 1;
									left: 2.5rem;
									color: #1989cd;
									background: #fff;
									z-index: 4;
								}
								& + label {
									position: absolute;
									z-index: -1;
									font-size: 10px;
									padding-left: 5px;
									padding-right: 5px;
									top: 10px;
									left: 2.5rem;
									opacity: 0.7;
									transition: all 300ms ease-in;
								}
								&.touched {
									border: 1px solid #1989cd !important;
									& + label {
										top: -8px;
										opacity: 1;
										color: #1989cd;
										background: #fff;
										z-index: 4;
									}
								}
							}
						}
						.submit_request {
							border-radius: 2.5rem;
							outline: none;
							font-size: 1.4rem;
							padding-top: .8rem;
							padding-left: 2.5rem;
							padding-right: 2.5rem;
							margin: 0 auto;
							box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
							padding-bottom: .8rem;
							color: #000 !important;
							background: transparent;
							transition: transform .3s ease;
							&:hover {
								transform: translateY(-3px);
								box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
							}
							&:active {
								transform: translateY(-1px);
								box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
							}
						}
						.contact_us {
							font-size: 1.4rem;
							text-align: center;
							padding-top: 3rem;
							padding-bottom: 3rem;
							width: 100%;
							a {
								color: #1989cc !important;
							}
						}
					}
				}
			}
		}
	}
}
.past_score_link {
	margin-left: 1.5rem;
	color: white;
	border-radius: .3rem;
	font-size: 1.7rem;
	font-weight: 600;
	padding: 1.05rem 2.4rem;
	border: 1.25px solid #fff;
	display: inline-block;
}
