.video_slider {
    padding-top: 8% !important;
    padding-bottom: 40px !important;
    height: 500px;
}
.video_slider .next_video_right {
    border: none;
    outline: none;
    background: #1989cd;
    position: relative;
    padding: 10px !important;
    border-radius: 10px;
    color: white !important;
    float: left !important;
}
.video_slider .next_video_left {
    border: none;
    outline: none;
    position: relative;
    background: #1989cd;
    padding: 10px !important;
    border-radius: 10px;
    color: white !important;
    float: left !important;
}
.video_slider .video_card_view {
    position:  relative;
    max-width: 270px !important;;
    margin: 0 auto;
}
.video_frame iframe {
    height: 240px;
    width: 360px;
    margin-right: 30px;
}
.video_slider .video_view_wrapper {
    display: flex;
    position: absolute;  
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.video_card_view.active-video-slide-0 #card-0{
    opacity: 1;
    transform: scale(1);
    margin-right: 0px;
    margin-left: 0px;
}
.video_card_view.active-video-slide-1 #card-1{
    opacity: 1;
    transform: scale(1);
    margin-right: 0px;
    margin-left: 0px;
}
.video_card_view.active-video-slide-2 #card-2{
    opacity: 1;
    transform: scale(1);
    margin-right: 0px;
    margin-left: 0px;
}
.video_card_view.active-video-slide-3 #card-3{
    opacity: 1;
    transform: scale(1);
    margin-right: 0px;
    margin-left: 0px;
}
.video_card_view.active-video-slide-4 #card-4{
    opacity: 1;
    transform: scale(1);
    margin-right: 0px;
    margin-left: 0px;
}
.video_card_view.active-video-slide-5 #card-5{
    opacity: 1;
    transform: scale(1);
    margin-right: 0px;
    margin-left: 0px;
}
.video_view_wrapper .video_player_card {
    flex: 1;
    min-width: 300px !important;
    opacity: 0.7;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 70px;
    transform: scale(0.85);
    transition: opacity 300ms linear, transform 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.video_slider .video_next{
    top: 310px !important;  
    left: 50% !important;
}
.video_slider .video_prev{
    top: 310px !important;  
    left: 45% !important;
}

@media only screen and (max-width: 650px) {
    body {
        overflow-x: hidden;
    }
    .video_slider .video_next {
        top: 50px !important;
        left: 100% !important;
    }
    .video_slider .video_prev {
        top: 50px !important;
        left: 10% !important;
    }
    .arrow_video {
        padding-top: 170px !important;
    }
    .video_slider {    
        padding-top: 20px !important;
        padding-top: 50px !important;
        padding-bottom: 40px !important;
        height: 340px !important;
        overflow-x: hidden !important;
        position: relative !important;
        width: 100% !important;
    }

    .video_slider .video_card_view {
        width: 100% !important;
        position: absolute !important;
        /* max-width: 270px !important; */
        margin: 0 auto;
    }
.video_slider .next_video_right {
    border: none;
    position: static;
    outline: none;
    background: #1989cd;
    padding: 10px !important;
    border-radius: 10px;
    color: white !important;
    float: right !important;
}
.video_slider .next_video_left {
    border: none;
    outline: none;
    position: static;
    background: #1989cd;
    padding: 10px !important;
    border-radius: 10px;
    color: white !important;
    float: left !important;
}
}
@media only screen and (max-width: 350px) {
    .video_player_card .video_frame {
        width: 215px !important;
    }    
}