.review_sec{
    padding-top: 0rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
}
.review_sec .review_line{
    height: 2px;
    background: #1f313b;
    width: 95%;
}
.review_sec .upperheading_review {
    padding-top: 2rem;
}
.review_sec .upperheading_review .student {
    font-size: 1.5rem;
}
.review_sec .upperheading_review .about {
    font-size: 1.5rem;
    font-weight: 600;
}
.review_sec .user_review_wrapper {
    position: relative;
    padding-top: 1rem;
    height: 450px;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: calc(2*522px);
    max-height: calc(2*200px);
    display: flex;
}
.review_sec .view_more_review {
    margin-right: 4rem;
    outline: none;
    border: none;
    background: transparent;
}
.user_review_playlist {
    display: flex;
    position: absolute;
    overflow-y: hidden;
    overflow-x: scroll;
    flex: 1;
    transition: transform 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.review_sec .review_big_card {
    display: inline-block;
}
.review_sec .review_arrow .fas{
    font-size: 2rem;
}
.review_sec .review_big_card .review_small_card {
    display: flex;
}
@media only screen and (max-width: 650px) {
    .review_sec {
        padding-left: 0rem;
    }
    .review_sec .upperheading_review {
        padding-top: 1rem;
        padding-left: 2rem;
    }
    .review_sec .review_arrow {
        padding-left: 1rem !important;
    }
    .review_sec .view_more_review {
        margin-right: 1rem;
    }    
}