.course_content {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	margin-bottom: 30px !important;
}
.container_main {
	padding-left: 70px !important;
	width: 100% !important;
	padding-right: 70px !important;
}
.course_content .row {
	color: #fff;
}
.course_content .fst_wrapper {
	border-radius: 5px;
	padding: 3rem;
	background: #273544;
}
.course_content h2 {
	width: 100%;
	margin: 0px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 400;
	padding-bottom: 0px !important;
}
.course_content .content_part {
	padding: 0px !important;
	padding-left: 50px !important;
}
.course_content .content_part ul li {
	min-width: 250px;
	padding-left: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff !important;
	text-transform: none !important;
}
.course_content .content_part ul li {
	font-size: 1.1rem !important;
	text-align: left !important;
	padding-left: 2.5rem;
	padding-right: 1rem;
}
.course_content .content_part ul li:before {
	content: '';
	background: url('https://careeranna.com/home/static/media/cat/tick_content.png');
	position: absolute;
	left: 0;
	width: 30px;
	height: 60px;
	background-repeat: no-repeat;
}
.course_content .sec_wrapper {
	background: #293b44;
	border-radius: 0px 0px 5px 5px;
	padding-top: 2rem;
	padding-bottom: 1rem;
}
.course_content .sec_wrapper p {
	text-align: right;
	padding-right: 50px;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
}

.course_content .sec_wrapper .content_part ul li {
	font-size: 18px;
}
.course_content .content-tab h2 {
	font-size: 1.5rem;
	padding-bottom: 0px !important;
}
.course_content .content-tab {
	padding-top: 1rem;
	min-height: 231px;
}
.course_grey {
	padding-right: 5px;
	font-weight: 600;
}
.fst_wrapper h2 {
	text-align: left !important;
}
.course_content .content_part ul li {
	font-size: 15px !important;
	padding-top: 3px;
	min-height: 47px;
	text-align: left !important;
}
@media only screen and (max-width: 650px) {
	.container_main {
		padding-left: 0rem !important;
		width: 100% !important;
		padding-right: 0rem !important;
	}
	.course_content {
		margin-top: 0px !important;
	}
	.course_content .content_part {
		padding-left: 0px !important;
	}
	.right_content {
		margin-top: 10px !important;
	}
	.sec_wrapper p {
		font-size: 22px !important;
	}
	.course_content .row {
		color: #000;
		padding: 30px;
	}
	.fst_wrapper .course_grey,
	h2 {
		font-size: 20px !important;
	}
	.course_content .content_part ul li {
		font-size: 14px !important;
	}
	.course_content .content_part ul li {
		font-size: 16px;
		color: black !important;
	}
}
