.Coursecard {
	width: 190px;
	margin-right: 1.5rem;
	margin-left: 0.5rem;
}
.Coursecard .trending_course .pic {
	width: 190px;
	height: 150px;
	border-radius: 3px;
}
.Coursecard:hover {
	transform: scale(1.1);
	transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	border-radius: 10px 10px;
}
.Coursecard:hover .course_heading {
	color: #1989cd;
	font-weight: 600;
}
.colorBlue {
	color: #1989cd;
}
.Coursecard .course_heading {
	margin-top: 5px;
	font-size: 1.6rem;
	font-weight: 600;
	backface-visibility: hidden;
	line-height: 20px;
	padding-left: 0.4rem;
	min-height: 4.32rem;
}
.Coursecard .course_views,
.rating_star {
	font-size: 1.36rem;
	padding-left: 0.4rem;
	line-height: 10px;
	padding-top: 0rem;
}
.Coursecard .rating_star {
	font-weight: 500;
	color: #000;
	font-size: 1.28rem;
	margin-top: 0.2rem;
}
.Coursecard .rating_star .rating_percent {
	font-size: 1.4rem;
	position: relative;
	top: 2.5px;
}
.Coursecard:hover .rating_star .rating_percent {
	top: 2.5px;
}
.Coursecard .rating_star img {
	width: 16px;
}
