.MainVideoSlider .video_box_cat{
    padding: 1.5rem 0.5rem 1.5rem 3rem;
}
.MainVideoSlider .video_box_demo_cat{
    width: 268px;
    background: #1989CD;
    height: 200px;
    border-radius: 10px;
    color: #fff;
    padding: 0.6rem 1rem 0.5rem 1rem;
}
.MainVideoSlider .heading {
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 43.2px;
}
.MainVideoSlider .subheading {
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 43.2px;
}
.MainVideoSlider .trending_line {
    width: 10%;
    float: left;
    position: relative;
    left: 0;
    height: 0.1rem;
    margin-top: 0.5rem;
    background: #fff;
}
.MainVideoSlider .arrow_left_cat {
    max-width: 50px;
}
.MainVideoSlider .next_video_prev .fa, .next_video_right .fa{
    font-weight: 900;
}
.MainVideoSlider .next_video_prev{  
    position: relative;
    padding-bottom: 5px;
    left: -55%;
    top: 40%;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 18px;
}
.MainVideoSlider .next_video_right{ 
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
    top: 34%;
    padding-right: 15px;
    padding-left: 20px;
}
.MainVideoSlider .video_player_list {
    position: relative;
    max-width: 65%;
    overflow: hidden;
}
.MainVideoSlider .arrow_right_cat {
    width: 50px;
}
.MainVideoSlider .video_playlist {
    display: flex;
    overflow: hidden;
    margin-left: 1rem;
    position: absolute;
    padding-top: 3rem;
    transition: transform 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
@media only screen and (max-width: 650px) {
    .MainVideoSlider {
        padding-top: 2rem;
    }
    .MainVideoSlider .arrow_left_cat {
        display: none;
    }
    .MainVideoSlider .videoFrame {
        width: 92%;
        height: 200px;
    }
    .MainVideoSlider .heading_small {
        color: white;
        padding-right: 0px;
        height: 140px;
        padding-left: 2rem;
        display: block;
    }
    .MainVideoSlider .heading_small_inside {
        height: 140px;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        background: #1989CD;
    }
    .MainVideoSlider .video_box{  
        display: none;
        max-width: 0.2rem !important;
        padding: 0px;
    }
    .MainVideoSlider .video_player_list {
        height: 210px;
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px; 
    }
    .MainVideoSlider .video_box_cat {
        display: none;
    }
    .MainVideoSlider .heading_small_main {
        font-size: 2.2rem;
        font-weight: 700;
        text-align: left ;
    }
    .MainVideoSlider .sub_small {
        font-size: 1.8rem;
        text-align: left;
        font-weight: 200;
    }
    .MainVideoSlider .line_small {
        width: 29px;
        position: relative;
        left: 0%;
        height: 0.2rem;
        margin-top: 0.5rem;
        background: #fff;
    }
    .MainVideoSlider .next_video_right {
        display: none;
    }
    .MainVideoSlider .next_video_prev_small, .next_video_right_small {
        border: none;
        outline: none;
        background: transparent;
    }
    .MainVideoSlider .video_playlist {
        padding-top: 2rem;
    }
}