.review_card {
	text-align: left !important;
	padding-top: 10px;
	scale: (1);
	display: inline-block;
	margin-left: 1rem;
	padding: 1rem;
	width: 420px;
	margin-right: 1rem;
	transition: visibility 600ms ease-in-out;
}
.review_card.hide {
	visibility: hidden;
}
.review_card.display_zero {
	display: none;
}
.review_card .user_name {
	min-height: 16px;
	font-size: 16px;
	text-transform: capitalize;
	padding-left: 0px;
	font-weight: 500;
	line-height: 18px;
	padding-bottom: 0rem;
	letter-spacing: 0.07rem;
}
.review_card .rating_text {
	padding-left: 0.4rem;
	font-size: 14px;
	font-weight: 600;
}
.review_card .rating .rating_star {
	padding-left: 0px !important;
	padding-top: 0px;
}
.review_card .user_comment {
	margin: 0px !important;
	font-size: 14px;
	max-width: 300px;
	min-height: 100px;
	max-height: 80px;
	padding-top: 8px;
	padding-right: 1.5rem;
}
.review_card .rating .rating_star img {
	width: 16px;
}
.review_card .rating_text span {
	position: absolute;
	top: 21px;
}
#name_pic {
	margin-right: 15px;
	width: 35px;
	height: 35px;
	border-radius: 100px;
	background: #2487d3;
}
.review_card .publish_date {
	font-size: 10px;
	margin-top: 5px;
}
#name_initial {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	color: white;
	line-height: 36px;
	font-size: 18px;
}
@media only screen and (max-width: 650px) {
	.card {
		height: 0px;
		padding-top: 0px !important;
	}
	.user_comment {
		min-height: 200px;
		max-width: 280px;
	}
}
