.review_card {
	text-align: left !important;
	padding-top: 1rem;
	scale: (1);
	display: inline-block;
	margin-left: 2.56rem;
	padding: 1.6rem;
	width: 42rem;
	margin-right: 3rem;
	transition: visibility 600ms ease-in-out;
	@media only screen and (max-width: 650px) {
		margin-left: 2.56rem;
		margin-right: 2.56rem;
	}
	&.hide {
		visibility: hidden;
	}
	&.display_zero {
		display: none;
	}
	.user_name {
		min-height: 1.6rem;
		font-size: 1.6rem;
		text-transform: capitalize;
		padding-left: 0px;
		font-weight: 500;
		line-height: 1.8rem;
		padding-bottom: 0.3rem;
		letter-spacing: 0.15rem;
	}
	.rating_text {
		padding-left: .64rem;
		font-size: 1.4rem;
		font-weight: 600;
		span {
			position: absolute;
			top: 24px;
		}
	}
	.rating .rating_star {
		padding-left: 0px !important;
		padding-top: 0px;
		img {
			width: 1.6rem;
		}
	}
	.user_comment {
		margin: 0px !important;
		font-size: 1.4rem;
		max-width: 30rem;
		min-height: 10rem;
		max-height: 8rem;
		padding-top: .8rem;
		padding-right: 2.4rem;
	}
	.publish_date {
		font-size: 10px;
		margin-top: 5px;
	}
	#name_pic {
		margin-right: 15px;
		width: 35px;
		height: 35px;
		border-radius: 100px;
		background: #2487d3;
	}
	#name_initial {
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		color: white;
		line-height: 36px;
		font-size: 18px;
	}
}
