.MyModal {
	position: fixed;
	z-index: 1061;
	height: 400px;
	background-color: white;
	width: 710px !important;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px black;
	padding: 16px;
	left: 25%;
	border-radius: 10px;
	top: 20%;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
}
.close_button {
	position: absolute;
	display: inline-block;
	margin-left: 8px;
}
.MyModal .close_button button {
	outline: none;
	border: none;
	background: transparent;
}
@media (max-width: 600px) {
	.MyModal {
		width: 100% !important;
		height: 240px;
		left: 0;
	}
}
