/*  App Styling */
.App {
    padding: 0px;
    color: #1E313A;;
} 
.row {
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-left: 0px;
      padding-right: 0px;
}
.padding-none{padding: 0px;}
.padding-left-none{padding-left: 0px;}
.padding-right-none{padding-right: 0px;}
a{color: inherit;}
a:hover,a:focus{text-decoration: none;}
ul li{list-style: none;}
ol,ul{padding: 0px;}
body{font-family: 'Roboto', sans-serif;}
button{
    outline: none !important;
}  