.RatingSection {
    text-align: left !important;
    padding-left: 90px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #dddee133;
    padding-right: 2rem;
    margin-top: 2% !important;
    margin-bottom: 3rem !important;
    }
.RatingSection .course_rating_left_wrapper h3 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2.5rem;
}
.RatingSection .rating_off_5{
    font-size: 2rem;
}
.RatingSection .course_rating_left_wrapper h4 {
    font-size: 1.8rem !important;
    font-weight: 700; 
    padding: 0px !important;
}
.RatingSection .course_rating_left_wrapper h5 {
    font-size: 18px !important;
    padding: 0px !important;
}
.RatingSection .rating_name{
    text-align: right !important;
    font-size: 1rem !important;
}
.RatingSection .progressbar-container{
    height: 10px !important;
    margin-top: 5px !important;
    border-radius: 10px;
    background-color: #ccc !important;
}
.RatingSection .progress-bar { 
    background-color: #2487d3 !important;
}
@media only screen and (max-width: 650px) {
    .RatingSection {
        padding-left: 3rem;
    }
    .Rating .rating_off_5{
        font-size: 30px !important;
    }

    .Rating .course_rating_left_wrapper h5 {
        font-size: 15px !important;
        padding-left: 50px !important;
    }
    .Rating .course_rating_left_wrapper h3 {
        padding-left: 50px !important;
        font-size: 50px;
    }
    .Rating .course_rating_left_wrapper h4{
        padding-left: 50px !important;    
    }
    .RatingSection .rating_name{
        text-align: center !important;
    }
    .Rating .rating_progress {
        width: 100%;
    }
    .Rating .index{
        width: 95% !important;
    }
    .Rating .mock{
        width: 92% !important;
    }
    .Rating .depth{
        width: 92% !important;
    }
    .Rating .doubt{
        width: 96% !important;
    }
    .Rating .mentor{
        width: 93% !important;
    }
    .Rating .quality{
        width: 97% !important;
    }
}